<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Times Tables</title>

    <style>
        @page { size: A4 landscape; }
        table,th,td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px 30px;
            text-align: center;
        }
    </style>

</head>
<body>

    <table>
        <thead>
            <tr>
                <th></th>
                {% for t in tables %}
                    <th>{{ t }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for o in order %}
                <tr>
                    <th>{{ o }}</th>

                    {% for t in tables %}
                        <td></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>